[submodule "docs/themes/hugo-bare-min-theme"]
	path = src/themes/hugo-bare-min-theme
	url = https://github.com/kaushalmodi/hugo-bare-min-theme
[submodule "docs/themes/hugo-debugprint"]
	path = src/themes/hugo-debugprint
	url = https://github.com/kaushalmodi/hugo-debugprint
[submodule "docs/themes/hugo-search-fuse-js"]
	path = src/themes/hugo-search-fuse-js
	url = https://github.com/kaushalmodi/hugo-search-fuse-js
[submodule "src/themes/er"]
	path = src/themes/er
	url = https://github.com/lingxz/er
