<center>
<footer class="site-footer">

<div class="container" style="position:relative;left:50px;">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {% include icon-github.html username=site.github_username %}
      </div>

      <!--<div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>-->

      <div class="footer-col footer-col-3">
        {% include icon-twitter.html username=site.twitter_username %}
      </div>

    </div>

  </div>
</div>

</footer>
</center>