<!--<header>
	<font face="Lucida Grande"> <center><h1><a href="{{ site.url }}">{{ site.title }}</a></h1></center> </font>
	<font face="Courier New" size="0.5"> <center><h2><a href="https://www.linkedin.com/in/rounak-datta-534bb298/">ROUNAK DATTA</a></h2></center> </font>
	<div class="center"><font size="2"><h2><p>{{ site.description }}{{ page.permalink }}</p></h2></font> </div>
</header>
<aside>
	<div class="center">
	<div class="container">	
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
			</ul>
			</li>
			</ul>
		</nav>
	</div>
	</div>
</aside>

<style type="text/css">
.center{
    width:200px;
    margin:0 auto;
    text-align:center;
}
ul{
    list-style-type: square;
}
    

</style>-->
<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link to main stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css?v=2017.10.12">
</head>