<header>
	<!--<font face="Lucida Grande"> <center><h1><a href="{{ site.url }}">{{ site.title }}</a></h1></center> </font>-->
	<font face="Lucida Grande"> <center><h2><a href="http://rounakdatta.tk"><img src="/assets/homepage/rounakdatta.png" style="width:250px;height:80px;"/></a></h2></center> </font>
	<!--<center><a href="http://rounakdatta.tk"><img src="assets/homepage/rounakdatta.png" height="80" width="480" class="images" /></center>-->
		<center>
	<a href="https://www.linkedin.com/in/rounak-datta-534bb298"><img src="/assets/icons/linkedin.png"/></a>
			<a href="https://angel.co/rounak-datta"><img src="/assets/icons/angellist.png"/></a>
			<a href="https://medium.com/@rounakdatta12"><img src="/assets/icons/medium.png"/></a>
			<a href="https://stackoverflow.com/users/8303407/user7668"><img src="/assets/icons/so.png"/></a>
			<a href="https://www.quora.com/profile/Rounak-Datta"><img src="/assets/icons/quora.png"/></a>
	</center>
	<br>
	<!--<div class="center"><font size="2"><h5><p>{{ site.description }}{{ page.permalink }}</p></h5></font> </div>-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</header>
<!--
<aside>
	<div class="center">
	<div class="container">	
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
			</ul>
			</li>
			</ul>
		</nav>
	</div>
	</div>
</aside>
-->
<br>

<div class="container" style="position:relative;left:-35px;">
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<center>
		  <ul class="nav nav-tabs nav-justified">
		    <li><a href="/myself">Myself</a></li>
		    <li><a href="/experience">Experience</a></li>
		    <li><a href="/projects">Projects</a></li>
		    <li><a href="/resume">Résumé</a></li>
		    <li><a href="/selfwork">Self Work</a></li>
		  </ul>
		</center>
	</div>
	<div class="col-sm-3"></div>
</div>
</div>

<style type="text/css">
.center{
    width:200px;
    margin:0 auto;
    text-align:center;
}
ul{
    list-style-type: square;
}
    

</style>