<!DOCTYPE html>
<html>
  
  <head>
    {% include head.html %}
  </head>
  
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script src="https://www.jessejojojohnson.com/js/typed.js" type="text/javascript"></script>
    <script src="https://www.jessejojojohnson.com/js/baffle.min.js" type="text/javascript"></script>
    <script src="js/typing.js" type="text/javascript"></script>

  </body>

</html>
